body {
  background-color: blanchedalmond;
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

h1 {
  font-size: 40px;
  font-weight: bold;
}

#result {
  font-size: 32px;
  font-weight: bold;
}
